@tailwind base;
@tailwind components;
@tailwind utilities;

.Button {
	color: black;
}

.MuiOutlinedInput-root.Mui-focusVisible {
	color: black;
}

@keyframes slide-bottom {
	from {
		transform: translateY(100px);
	}
	to {
		transform: translateY(0);
	}
}

.toast {
	position: fixed;
	bottom: 30px;
	left: 100px;
	animation: slide-bottom 1s, forwards;
}
